<%= form_with(model: invite) do |form| %>
  <% if invite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% invite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :admin_id, style: "display: block" %>
    <%= form.text_field :admin_id %>
  </div>

  <div>
    <%= form.label :company_id, style: "display: block" %>
    <%= form.text_field :company_id %>
  </div>

  <div>
    <%= form.label :deactivated_at, style: "display: block" %>
    <%= form.datetime_field :deactivated_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
