<%= form_with(model: invite) do |form| %>
  <% if invite.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(invite.errors.count, "error") %> prohibited this invite from being saved:</h2>

      <ul>
        <% invite.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :admin_id, style: "display: block" %>
    <%= form.collection_select :admin_id, Admin.all, :id, :email, prompt: "Select an User" %>
  </div>

  <div>
    <%= form.label :company_id, style: "display: block" %>
    <%= form.collection_select :company_id, Company.all, :id, :name, prompt: "Select a Company" %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
