<table id="<%= dom_id invite %>" class="invite-table">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= invite.name %></td>
  </tr>
  <tr>
    <td><strong>Admin:</strong></td>
    <td><%= Admin.find(invite.admin_id).email %></td>
  </tr>
  <tr>
    <td><strong>Company:</strong></td>
    <td><%= Company.find(invite.company_id).name %></td>
  </tr>
  <tr>
    <td><strong>Deactivated at:</strong></td>
    <td><%= invite.deactivated_at %></td>
  </tr>
</table>

<br>